.container_notFoundPage {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.notFoundPage_message {
    width: 42rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}

.title {
    width: 30rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.title h1 {
    font-weight: 700;
    font-size: 7rem;
}

.title p {
    font-weight: 100;
    font-size: 2.2rem;
    padding: 1rem;
}
.text_404{
    width: 30rem;
    height: 5rem;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.text_404 p{
    font-size: 1.1rem;
    font-weight: 300;
}
.text_404 button{
    width: 50%;
    font-weight: 600;
    border-color: #3A49F9;
    border-radius: .5rem;
    background-color: #FFF;
    color: #3A49F9;
    cursor: pointer;
}
.text_404 button:hover{
    background-color: #3A49F9;
    color: #FFF;
    border:none;   
}
/* figure{
   height: auto;
} */
.notfoundImg{
    width: 100%;
    height: auto;
}
@media (max-width:800px){
    .notfoundImg{
        display: none;
    }
}